# HTTPS server
#
upstream apigw_lb {
    #least_conn;
    #ip_hash;
    server {{ apigwserver1 }}:8443 weight=1;
    server {{ apigwserver2 }}:8443 weight=1;
    keepalive 1000;
}

proxy_cache_path /tmp/cache_apigw keys_zone=mycache_apigw:10m inactive=60m;


server {
    listen       8443 ssl;
    server_name apigw_lb;

    ssl_certificate      /etc/nginx/cert.pem;
    ssl_certificate_key  /etc/nginx/cert.key;

    #ssl_session_cache shared:SSL:15m;
    ssl_session_cache builtin:1000 shared:SSL:10m;
    ssl_session_timeout  5m;

    ssl_ciphers  HIGH:!aNULL:!MD5;
    #ssl_ciphers  FIPS:!SSLv3:!aNULL;
    #ssl_ciphers         AES128-SHA;
    ssl_prefer_server_ciphers   on;

    # When using TLS1.2 only we got errors
    #ssl_protocols TLSv1.2;
    ssl_protocols TLSv1.2 TLSv1.1 TLSv1;

    location /nginx_status {
          stub_status on;
          access_log   off;
        }

    location / {
        proxy_pass https://apigw_lb;
        proxy_cache mycache;

        #proxy_redirect          http:// $scheme://;
        proxy_ignore_client_abort off;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_read_timeout     300;
        proxy_connect_timeout  300;
        proxy_pass_header       Accept;
        proxy_pass_header       Server;
        #root   /usr/share/nginx/html;
        #autoindex on;
    }

    error_page  405       =200 $uri;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

}

